<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<title>A File Display Demo</title>
<!--<script type="text/javascript">-->
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="/Users/apsnooz/Dropbox/scripts/concat/concat/static/dnd.js">
//script code will go here...

</script>

<style>
#drop {
  min-height: 150px;
  width: 250px;
  border: 1px solid blue;
  margin: 10px;
  padding: 10px;
}
</style>
</head>
<body>
  <h1 align=center>A File Preview Demo</h1>
  <DIV id="status">Drag the files from a folder to a selected area ...</DIV>

  <DIV id="drop" class="min-height: 150px; width: 250px; border: 1px solid blue; margin: 10px; padding: 10px;">Drop files here.</DIV>
  <DIV id="list"></DIV>
</body>
</html>
