<!DOCTYPE html>
<html>
  <head>
    <!-- jQuery -->
      <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Bootstrap -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Ersatz Title</title>
    {% endif %}
  </head>

  <body>
    {% if title %}
    <h1 class="w3-container w3-blue">{{ title }}</h1>
    {% else %}
    <h1 class="w3-container w3-blue">Ersatz Title</h1>
    {% endif %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="w3-panel w-pink;"
      <ul>
      {% for message in messages %}
          <li class="w3-panel w-pink;">{{ message }} </li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
    <div class="w3-container">
      {% block content %}
      {% endblock %}
   </div>
  </body>
</html>
