<!DOCTYPE html>
<html>
  <head>
    <!-- jQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
      // <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
      <!-- Bootstrap -->
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Ersatz Title</title>
    {% endif %}


  </head>

  <body>
    <div id='navbar'>
      <ul class='w3-navbar w3-blue'>
        <li class="w3-right"><a  href="{{ url_for('logout')}}">Logout</a></li>
        <li class="w3-right"><a  href="{{ url_for('library')}}">Library</a></li>
        <li class="w3-right"><a  href="{{ url_for('player')}}">Player</a></li>
        <li class="w3-right"><a  href="{{ url_for('upload')}}">Upload</a></li>

      </ul>
    </div>

    <div id='page_title'>
      {% if title %}
      <h1 class="w3-container w3-blue">{{ title }}</h1>
      {% else %}
      <h1 class="w3-container w3-blue">Ersatz Title</h1><br>
      {% endif %}
    </div>

    <div id='flash_messages'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="w3-ul w3-red">
        {% for message in messages %}
          <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div>

    <div id='body'>
      {% block body %}
      {% endblock %}
   </div>

  </body>
</html>
