<!-- extned from base layout -->
{% extends "layout.html" %}

{% block body %}
<title>Audiobook Library</title>
  <h1>Available Books:</h1>
  {% if booklist %}
   <form action="" method="POST">
     {% for book in booklist %}
       <p><input type='checkbox' name='book' value={{ book.id }} value={{ book.id }}>  {{ book.author }}, {{ book.title }}
     {% endfor %}
     <p><button class="w3-btn w3-blue" type="checkout" >Submit</button>
  {% else %}
     <p>No Books in the library<br>
     <p>You either have them all checked out or there are none.
  {% endif %}




{% endblock %}
