<!-- extned from base layout -->
{% extends "layout.html" %}

{% block body %}
<title>Log on in</title>
  <h1>dew it</h1>
  <!-- {% if error %}
     <p class="w3-ul w3-red"><strong>Error:</strong> {{ error }}
  {% endif %} -->
  <form action="" method=post enctype=multipart/form-data>
    <p><input type=email name=email placeholder="enter your email">
    <p><input type=password name=password placeholder="enter your password">
    <p><input class="w3-btn w3-blue" type=submit value=LOGIN>
  </form>
    Register <a href="{{ url_for('register')}}">here</a>
{% endblock %}
