<!-- extned from base layout -->
{% extends "layout.html" %}

{% block body %}



  <title>Audiobook Player</title>
    <h1>Play on player</h1>

    {% if booktitle %}
    <h3>{{ booktitle }}</h3>
    {% else %}
    <h3 id='currentPlaying'>No Book Selected.</h3>
    {% endif %}


    <div id='player'>
      <audio id='audio' src="" onclick="play(this)" controls="true">
        <!-- <source src="static/audio/foo/foo.mp3" > -->
        <!-- <source src="" > -->
        Your browser does not support the audio element.
      </audio>
    </div>

    <!-- <div id='player2'>
      <audio id='audio2' onclick="play(this)" controls>
        <source src="audio/14/beep.mp3" >
        Your browser does not support the audio element.
      </audio>
    </div> -->


    <div id='buttons'>
      <!-- buttons -->
      <button name=rewind15secs id=rewind15secs class="w3-btn w3-light-gray" type="submit" onclick=changeTime('-',.5) ><bold>❰❰ 30</bold></button>
      <button name=rewind15secs id=rewind15secs class="w3-btn w3-light-gray" type="submit" onclick=changeTime('-',.25) ><bold>❰ 15 sec</bold></button>
      <button id=bookmark class="w3-btn w3-light-gray" type="submit" onclick="enableBookmarkUI()"><bold>bookmark</bold></button>
      <button id=ff15secs class="w3-btn w3-light-gray" type="submit" onclick=changeTime('+',.15)><bold>15 sec ❱</bold></button>
      <button id=ff15secs class="w3-btn w3-light-gray" type="submit" onclick=changeTime('+',.5)><bold>30 ❱❱</bold></button>
      <br><br>
      <button id=resumeTimeline class="w3-btn w3-light-gray" type="submit" onclick="retrieveTime()" disabled="true"><bold>Resume Reg Play</bold></button>
    </div>

    <!-- hidden loading gif -->
    <img id='loading' style='display: none' src='/static/img/loading.gif'>

    <!-- hidden bookmark interface -->
    <div id='createBookmark' style='display: none'>
      <form id=bookmarkForm action="" method='post' enctype='application/json'>
        <p><textarea name=desc id=desc rows="4" cols="30" type="textarea" placeholder="Bookmark desc max 240 characters" maxlength="240"></textarea>
        <p><input type=button id=descSubmitBtn class="w3-btn w3-blue" value='make bookmark' onclick=saveBookmark()>
      </form>
    </div>

    <div id="curTime">
      <p id="time"></p>

    </div>

    <div id=checkedout_Books>

    </div>


  <div id=bookmarks name=bookmarks>
    <table id=bookmark_list>
    </table>
  <div>

    <!-- <button id=buttoni class="w3-btn w3-blue" type="submit" onclick="getBooks2()">buttoni</button> -->


<script src='{{ url_for('static', filename='js/player.js') }}' type='text/javascript'></script>

{% endblock %}
