<!-- extned from base layout -->
{% extends "layout.html" %}

{% block body %}
  <title>Audiobook Player</title>
    <h1>Play on player</h1>

    {% if booktitle %}
    <h3>{{ booktitle }}</h3>
    {% else %}
    <h3 id='currentPlaying'>No Title Present</h3>
    {% endif %}


    <div id='player'>
      <audio width:"100%"; onclick="play(this)" id='audio' controls="true">
        <!-- <source src="static/audio/foo/foo.mp3" > -->
        <source src="" >
        Your browser does not support the audio element.
      </audio>
    </div>

    <!-- buttons -->
    <button id=rewind15secs class="w3-btn w3-light-gray" type="submit" onclick=changeTime('-',.15) ><bold><< -15 sec</bold></button>
    <button id=bookmark class="w3-btn w3-light-gray" type="submit" onclick="enableBookmark()"><bold>bookmark</bold></button>
    <!-- <button id=bookmark class="w3-btn w3-light-gray" type="submit" onclick="$('#createBookmark').toggle();"><bold>bookmark</bold></button> -->
    <button id=ff15secs class="w3-btn w3-light-gray" type="submit" onclick=changeTime('+',.15)><bold>+15 sec>></bold></button>

    <!-- hidden loading gif -->
    <img id='loading' style='display: none' src='/static/img/loading.gif'>

    <!-- hidden bookmark interface -->
    <div id='createBookmark' style='display: none'>
      <form id=bookmarkForm action="" method='post' enctype='application/json'>
        <p><textarea name=desc id=desc rows="4" cols="30" type="textarea" placeholder="Bookmark desc max 240 characters" maxlength="240"></textarea>
        <p><input type=button id=descSubmitBtn class="w3-btn w3-blue" value='make bookmark' onclick=saveBookmark()>
      </form>
    </div>

    <div>
      <ul style="list-style-type:none">
      {% if booklist|length > 0 %}
        {% for book in booklist %}
            <li id={{ book.id }}><a href="javascript:void(0);">{{ book.title }}</a></li>
        {% endfor %}
      {% else %}
         You have no Books in the checked out<br/>
         Head over to the <a href="{{ url_for('library')}}">Library<a>
      {% endif %}
      </ul>
    </div>
    <!-- <button id=buttoni class="w3-btn w3-blue" type="submit" onclick="wowo(buttoni)">buttoni</button> -->


    <script type='text/javascript'>

    current_playing_id = null;
    activeElement = null;

    document.body.onclick=function() {
      activeElement = document.activeElement.id;
      console.log(activeElement);
    }


    var get_li = function() {
      //get the LI tags
      var tags_li = document.getElementsByTagName('li');
      var nr_li = tags_li.length;
      // traverse the "tags_li" array
      for (i=0; i<nr_li; i++) {
        // apply the 'onclick' event to each, assigning a function that must be called by this event
        tags_li[i].onclick = function() {
          // var continut = '/'+this.id+'/'+this.textContent || this.innerText +'.mp3'; // gets the content
          var continut = '/'+this.id+'/'+this.textContent+'.mp3'; // gets the content
          console.log(continut)
          current_playing_id = this.id
          document.getElementById('audio').setAttribute('src', '/audio'+continut);
          document.getElementById('currentPlaying').innerHTML = this.textContent;
          //var t = timeInfo('currentTime=none&book_id='+current_playing_id);
          retrieveTime(current_playing_id);
          console.log('ran after timeInfo function')
        };
      }
    };


    console.log('start!')
    var aud = document.getElementById('audio')
    console.log('aud.paused state: '+aud.paused)
    //console.log('aud = '+aud)
    aud.addEventListener('pause', printTime)
    // jQuery $('#aud').on('pause', getTime)
    function printTime (){
      console.log('current time = '+aud.currentTime)
    }


    document.body.onkeypress = function(e){
      if (activeElement != 'desc') {
        if(e.keyCode == 32){
          console.log('space bar pressed')
          if (aud.paused) {
            console.log('status is paused')
            console.log('playing')
            aud.play()
          } else {
            console.log('pausing')
            aud.pause()
          }
        }
      }
    }


    function enableBookmark() {
      if (current_playing_id == null) {
        $('#currentPlaying').html("<h3 class=\'w3-text-red\'>  No book slected. Select book before creating bookmark.<h3>");
      } else {
        $('#createBookmark').toggle();
      }
    }


    // jQuery version of javascript below (mostly)
    // {% for book in booklist %}
    //    $('li').click(function(){
    //      var str = $(this).text()
    //      //console.log(str)
    //      $('audio').attr('src', '/audio/'+str);
    //      $('currentPlaying').innerHTML = this.textContent;
    //    });
    // {% endfor %}

    // function wowo(targetid) {
    //     console.log(targetid)
    //   $(targetid).hide();
    // }



    // jQuery for timed events
    $(document).ready(function(){
      console.log('ready!');
      //i=0;
      setInterval(saveTime, 1000);
    });


    function changeTime(op, time) {
      if (op == '+') {
        aud.currentTime = aud.currentTime + time;
      }
      else {
          aud.currentTime = aud.currentTime - time;
      };
    }

    function saveBookmark() {
      console.log('saveBookmark button pushed!');
      var form = new FormData(document.getElementById('bookmarkForm'));
      var desc = form.get('desc');
      console.log(desc)
      // if (current_playing_id != null) {
      $.ajax({
        type: 'POST',
        url: '/saveBookmark',
        data: JSON.stringify({'book_id':current_playing_id,'time':aud.currentTime,'desc':desc}, null, '\t'),
        contentType:'application/json;charset=UTF-8',
        success: function(){
          console.log('time saved')
        },
        error: function() {
            console.log('bookmark not saved')
          }
      });
      $('#createBookmark').toggle();
      }
     //}


    function saveTime() {
      if (current_playing_id != null) {
      $.ajax({
        type: 'POST',
        url: '/saveTime',
        data: JSON.stringify({'book_id':current_playing_id,'currentTime':aud.currentTime}, null, '\t'),
        contentType:'application/json;charset=UTF-8',
        success: function(){
          console.log('time saved')
        }
      })
      }
     }

    function retrieveTime(book_id) {
      $.ajax({
        type: 'POST',
        url: '/retrieveTime',
        data: JSON.stringify({'book_id':current_playing_id}, null, '\t'),
        contentType: 'application/json;charset=UTF-8',
        success: function(currentBookTime) {
            console.log('currentBookTime = '+currentBookTime.currentBookTime)
            aud.currentTime = currentBookTime.currentBookTime;
            $(loading).hide();
            $(player).show();
            console.log('done ran');
        },
        error: function() {
            console.log('time not retrieved')
        }
    });
  }




    window.onload = get_li;
    </script>

{% endblock %}
