<!-- extned from base layout -->
{% extends "layout.html" %}

{% block body %}
  <title>Upload new File</title>
    <h1>Upload new Files</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=text name=title placeholder="Enter book title">
      <p><input type=text name=author placeholder="Enter book author">
      <p><input type=file multiple webkitdirectory name=file multiple>
      <p><input type=checkbox name=shareable checked> Make this audiobook available for others to listen
      <p><input class="w3-btn w3-blue" type=submit value=UPLOAD>
      <!-- <p><input type=button value='new upload'> -->
    </form>

    <form class="box" method="post" action="" enctype="multipart/form-data">
      <div class="box__input">
        <input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selelected" multiple />
        <label for="file"><strong>Choose a file</strong><span class="box__dragdrop"> or drag it here</span>.</label>
        <button class="box__button" type="submit">Upload</button>
      </div>
      <div class="box__uploading">Uploading&hellip;</div>
      <div class="box__success">Done!</div>
      <div class="box__error">Error!<span></span>,</div>
    </form>

    <br/>
    <br/>
    <div>
      {% if filenames %}
           <ul class="w3-text-red">
               {% for name in filenames %}
           <li>{{ name }}</li>
         {% endfor %}
      {% endif %}
    </div>
{% endblock %}
